.main-layout {
    background-color: #495E57;
    border-radius: 10px;
    filter: drop-shadow(10px 10px 18px #000000);
    gap: 2rem;
}

.main-header {
    font-size: 3rem;
    font-weight: 900;
    color: #F4CE14 !important;
}

.main-text-content {
    color: white;
    font-size: 26px;
    width: 60vw;
    word-break: break-all;
}

.main-button {
    background-color: #F4CE14;
    color: black;
    outline: none;
    border: none;
    font-size: 25px;
    font-weight: 700;
    border-radius: 10px;
    padding: 1rem;
    transition: all 0.3s ease;
    filter: drop-shadow(10px 10px 18px #000000);
}

.main-button:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.main-pic {
    border-radius: 10px;
    border-radius: 10px;
    max-width: 100%;
    /* Ensure image doesn't exceed parent width */
    height: auto;
    /* Maintain aspect ratio */
}

.main-pic img {
    object-fit: contain;
}

@media screen and (max-width: 910px) {
    .main-layout {
        flex-direction: column !important;
    }
}