.main-layout {
    background-color: #495E57;
    border-radius: 10px;
    filter: drop-shadow(10px 10px 18px #000000);
    gap: 2rem;
    width: 85% !important;
    max-width: 60rem !important;
    max-height: 30rem !important;
    padding: 2rem !important;
}

.main-header {
    /* font-size: 5.5rem; */
    font-weight: 900 !important;
    color: #F4CE14 !important;
}

/* .main-text-content {
    color: white;
    font-size: 26px;
    width: 60vw;
    word-break: break-all;
} */

.main-button {
    background-color: #F4CE14;
    color: black;
    outline: none;
    border: none;
    font-size: 1.5rem;
    font-weight: 700;
    border-radius: 30px;
    padding: 1rem;
    transition: all 0.3s ease;
    filter: drop-shadow(10px 10px 18px #000000);
}

.main-button:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.main-pic {
    /* border-radius: 10px;
    max-width: 20rem;
    height: 80%;
    margin: auto; */
    object-fit: cover;
}

.desktop-button {
    /* display: block !important; */
}

.mobile-button {
    display: none !important;
}

.mobile-button-box {
    width: 0px !important;
    height: 0px !important;
}

@media screen and (max-width: 800px) {
    .main-layout {
        flex-direction: column !important;
        padding: 2rem !important;
        max-height: 45rem !important;
    }

    .main-header {
        font-size: 2.5rem;
        text-align: center;
    }

    .main-pic {
        max-height: 20rem !important;
    }

    .desktop-button {
        display: none !important;
    }

    .mobile-button {
        display: block !important;
    }

    .mobile-button-box {
        width: auto !important;
        height: auto !important;
    }
}