.confirmed-booking-layout {
    height: 60rem;
}

.confirmed-booking-sign {
    background-color: #F4CE14;
    border-radius: 10px;
    padding: 4rem;
    filter: drop-shadow(10px 10px 18px #000000);
    margin-bottom: 20rem;
}

.confirmed {
    color: black;
    text-align: center;
}