.reservation__time-selector {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 50px;
    font-family: 'Markazi Text', serif;
    font-size: 40px;
    background-color: #f1f1f1;
    color: #EDEFEE;
    border-radius: 10px;
    gap: 1rem;
    box-shadow: 0 0 20px rgba(168, 168, 168, 0.15);
}

.radio {
    background-color: green;
    border-radius: 10px;
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem;
    padding-right: 0.7rem;
}

.timeslots-capsules {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding: 25px;
}
.radio-lablel-box {
    width: 120px;
    font-size: 2rem;
    font-weight: bold;
    padding: 10px;
    border-radius: 16px;
    background-color: #EDEFEE;
    color: #495E57;
}
.radio-btn-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
input[type="radio"] {
    width: 1.5rem;
    height: 1.5rem;

}

@media screen and (max-width: 780px) {
    .reservation__time-selector {
        font-size: 28px;
        padding: 25px;
    }
    
    .timeslots-capsules {
        gap: 0.5rem;
    }

    .radio-lablel-box {
        width: 100px;
    }
}