.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    background: rgba(210, 210, 210, 0.65);
    /* width: 100%; */
    /* width: 100vw;
    backdrop-filter: blur(4px);
    --webkit-backdrop-filter: blur(4px);
    position: fixed;
    z-index: 2; */
}

.nav-list {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 15px;
}

.link {
    color: #495E57;
    text-decoration: none;
    flex-direction: column;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
}

.link:hover {
    color: #F4CE14;
}